<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="ScopeID" value="" />
    <add key="ApplicationID" value="/cVjzPfjlO;{@QMj:jWpW]HKKEmed[llSlNUAtoE`]G?" />
    <add key="StorageID" value="{AA05FEE0-1ECC-4BFF-9274-A6AF22AFF7F1}" />
    <add key="ApplicationName" value="Host" />
    <add key="ApplicationTitle" value="Host" />
    <add key="PortalTitle" value="Host Portal" />
    <add key="DebugLevel" value="4" />
    <add key="HTTPPort" value="8080" />
    <add key="WSPort" value="8081" />
    <add key="DontVerifyTrust" value="true" />
    <add key="UseUserMapper" value="true" />
    <add key="UseRandomDeviceID" value="false" />
    <add key="IgnoreAdminCheck" value="true" />
    <add key="CloudServiceRoutes" value="" />
    <add key="LocalServiceRoutes" value="" />
    <add key="IsCloudService" value="false" />
    <add key="AllowLocalHost" value="true" />
    <add key="AllowRemoteISBConnect" value="true" />
    <add key="LogIgnore" value="UPnP;cdeSniffer;WSQueuedSender;CoreComm;QueuedSender;QSRegistry"/>
    <add key="SafRedisPort" value="6379"/>
    <add key="SafUseRedis" value="true"/>
    <add key="PreShutDownDelay" value="5000"/>
  </appSettings>
</configuration>